{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clear_Comm{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
</head>
<body>

        <header>
            <div class="container-fluid">

            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'home' %}">Clear_Comm</a>
             
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 mr-1">
                      {% if user.is_authenticated %}
                  
                        <button class="btn logout_btn btn-warning"><a class="nav-link" href="{% url 'logoutUser' %}"> <span class="align-middle"><b>Logout</b></span></a></button>
                    
                      {% else %}
                        <button class="btn login_btn btn-success"><a class="nav-link" href="{% url 'login' %}"><span class="align-middle"><b>Login</b></span></a></button>
                  
                      {% endif %}
                    </ul>
            
                    
                </div>

                
            </nav>
        </header>

<main>
    <br/>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    </main>
    <br/><br/>
    <footer>
        <center><small>&copy;{%now "Y"%} Bluewood Solutions - All Rights Reserved<br/> Built and Designed by Bluewood Technology.</small></center> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>

