{% extends 'base.html' %}
{% block title %}Clear_Comm | Home{% endblock %}
{% block content %}
<br/><br/>
    <center><h1>Welcome to Clear_Comm!</h1>
        <br/><br/>
    <p>Clear_Comm is the first CRM program designed specifically for small businesses that operate in the field of Off Market Real Estate. We designed this product from the ground up using feedback and wisdom from local off market real-estate purchasers to help provide a personalized solution for those in our industry.</p>
    <br/><br/>
    <form action="/login/">
        <input class="btn login_btn btn-success" type="submit" value="Login" />
      </form>
    </center>
{% endblock %}