{% extends 'base.html' %}
{% block title %}Clear_Comm | Call List{% endblock %}
{% block content %}
    <center><h1>Call List</h1>
    <table>
        <tr>
            <th>Address</th>
            <th>Property Type</th>
            <th>Contact</th>
            <th>Phone Number</th>
            <th>Created</th>
            <th>Last Updated</th>
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
     
    </table>
</center>
{% endblock %}