{% extends 'base.html' %}
{% load static %}
{% block title %}Clear_Comm | Note Details {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<br/><br/>
   <center>
    <table class="table table-bordered">
        <tr>
            <th colspan="4" class="table-secondary"><center><h1>{{ note.Property }}</h1></center></th>
        </tr>
        <tr>

        </tr>
        <tr>
            <td class="text-white bg-dark"><center>Note Details</center></td>
            <td><center>{{note.note_type}}</center></td>
            <td class="text-white bg-dark"><center>Created</center></td>
            <td><center>{{ note.created}}</center></td>
        </tr>
        <tr>
            <td colspan="4" class="text-white bg-dark"><center>Note</center> </td>

        </tr>
        <tr>
            <td colspan="4"><center>{{ note.note | safe }}</center> </td>

        </tr>

        <tr>
            <td class="text-white bg-dark"><center>Created By</center></td>
            <td><center>{{note.creator}}</center></td>
            <td class="text-white bg-dark"><center>Last Updated</center></td>
            <td><center>{{ note.updated}}</center></td>
        </tr>
    </table>
</center>
{% if user.id == note.creator.id %}
<a href="{% url 'delete_note' note.pk %}"><button class="btn btn-danger text-dark">Delete Note</button></a> 
<a href="{% url 'update_note' note.pk %}"><button class="btn btn-warning text-dark">Edit Note</button></a> 

{% endif %}
{% else %}
<br/><br/>
    <center><h1>Welcome to Clear_Comm!</h1>
        <br/><br/>
    <p>Clear_Comm is the first CRM program designed specifically for small businesses that operate in the field of Off Market Real Estate. We designed this product from the ground up using feedback and wisdom from local off market real-estate purchasers to help provide a personalized solution for those in our industry.</p>
    <br/><br/>
    <p>To get started, login below with your credentials!</p>
    <br><br>
    <form action="/login/">
        <input class="btn login_btn btn-success" type="submit" value="Login" />
      </form>
    </center>

{% endif %}
{% endblock%}